In [571]:
import pandas as pd

In [572]:
company_data=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Decision Tree\\Company_Data.csv")
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [573]:
company_data['ShelveLoc'].replace({'Bad':0,'Medium':1,'Good':2},inplace=True)
company_data['Urban'].replace({'No':0,'Yes':1},inplace=True)
company_data['US'].replace({'No':0,'Yes':1},inplace=True)

In [574]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,2,65,10,1,1
2,10.06,113,35,10,269,80,1,59,12,1,1
3,7.40,117,100,4,466,97,1,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,2,33,14,1,1
396,6.14,139,23,3,37,120,1,55,11,0,1
397,7.41,162,26,12,368,159,1,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,2,49,16,1,1

In [608]:
#company_data.describe()

In [576]:
#company_data.info()

In [577]:
'''from sklearn.preprocessing import MinMaxScaler
norm_data=MinMaxScaler().fit_transform(company_data)
df=pd.DataFrame(norm_data,columns=company_data.columns)
df'''

'from sklearn.preprocessing import MinMaxScaler\nnorm_data=MinMaxScaler().fit_transform(company_data)\ndf=pd.DataFrame(norm_data,columns=company_data.columns)\ndf'

In [578]:
X=company_data.iloc[:,1:]
Y=company_data.iloc[:,0]

In [579]:
#model validation technique (train test)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

## Decision Tree Regressor (CART)

In [580]:
from sklearn.tree import DecisionTreeRegressor

In [581]:
model=DecisionTreeRegressor(max_depth=9)
model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=9)

In [582]:
#find accuracy using train test
model.score(x_test,y_test)

0.46786119830952344

In [583]:
model.score(x_train,y_train)  #Training Accuracy

0.985448763582804

In [584]:
#model.feature_importances_

In [585]:
#model validation technique (k-fold)
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold=KFold(n_splits=6)

In [586]:
results=cross_val_score(model,X,Y,cv=kfold)

In [587]:
#Accuracy using k-fold
results.mean()

0.3672043004589057

In [588]:
#Ensemble Technique(Bagging)
from sklearn.ensemble import BaggingRegressor
model1=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=17),n_estimators=451,random_state=7) #n_estim=no.trees(default10)

In [589]:
model1.fit(x_train,y_train)  #using train test split

BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=17),
                 n_estimators=451, random_state=7)

In [590]:
#find accuracy  using train test
model1.score(x_test,y_test)

0.675654242283765

In [591]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model1,X,Y,cv=kfold)
results.mean()

0.6871313337129419

In [592]:
#Ensemble Technique(AdaBoost)
from sklearn.ensemble import AdaBoostRegressor
model2=AdaBoostRegressor(n_estimators=950,random_state=99)
model2.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=950, random_state=99)

In [593]:
#find accuracy  using train test
model2.score(x_test,y_test)

0.6784515014129069

In [594]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model2,X,Y,cv=kfold)
results.mean()

0.704404929155175

In [613]:
# convert numeric to categorical
y=pd.cut(Y,bins=2)
y

0        (8.135, 16.27]
1        (8.135, 16.27]
2        (8.135, 16.27]
3      (-0.0163, 8.135]
4      (-0.0163, 8.135]
             ...
395      (8.135, 16.27]
396    (-0.0163, 8.135]
397    (-0.0163, 8.135]
398    (-0.0163, 8.135]
399      (8.135, 16.27]
Name: Sales, Length: 400, dtype: category
Categories (2, interval[float64]): [(-0.0163, 8.135] < (8.135, 16.27]]

## Decision Tree Classifier (CART) gini